.chat-area{
  border: 1px solid black;
  width: 30%;
  height: 70vh;
  position: relative;
}


.header-area{
  position:relative;
  border: 1px solid black;
  height: calc(15% - 12px);
  padding: 5px;
  overflow: hidden;
}

.messages-area{
  position:relative;
  border: 1px solid black;
  height: calc(55% - 12px);
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.input-area{
  position:relative;
  border: 1px solid black;
  height: calc(30% - 12px);
  padding: 5px;
}