@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

textarea {
    width: 80%;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;
    box-sizing: border-box;
    height: 100%;
}

form {
    height: 100%;
    width: 100%;
}

.send-message-button {
    height: 50%;
    aspect-ratio: 1 / 1;
    margin: 1%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}